langchain
langchain-community
pypdf
rapidocr-onnxruntime
pytesseract
pdfplumber
pdfminer.six
jq
beautifulsoup4
lxml
ipykernel

langchain-core
langchain-text-splitters
langchain-google-genai
langchain-experimental
termcolor

tiktoken

ollama

langchain-ollama

langchain_chroma

lark

flashrank